body {
  background-color: #000000;
}
h1{
  color: #535050;
  font-size: 2.5em;
}
button {
  background-color: #444;
  color: #fff;
  font-size: 1.2em;
  width: 50px;
  border: none;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 2px;
  cursor: pointer;
  font-weight: bold;
}

.top-button {
  background-color: #928f8d;
  font-weight: bold;
  color: #000;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  color: aliceblue;
}

.display {
  width: 25%;
  height: 30px;
  align-self: center;
  background: rgb(134, 134, 134);
  padding: 10px;
  border-radius: 6px;
  box-shadow: inset 0 0 5px #000;
}

.expression {
  height: 50px;
  color: rgb(170, 170, 170);
}

.panel {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: auto;
  width: 150px;
}

.numbers button:last-child {
  width: 100%;
}

.operators {
  display: flex;
  flex-flow: column;
}

.operators button {
  color: white;
  background: #ff8921;
  border: none;
  font-weight: bold;
  font-size: large;
}
