body {
background-color: #282c34;
}

button {
  font-size: 1rem;
  width: 30px;
  border: none;
  border-radius: 50%;

}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  color: aliceblue;
}

.display {
  width: 40%;
  height: 20px;
  align-self: center;
  background: lightgray;
  padding: 10px;
  border-radius: 6px;
}

.expression {
  height: 30px;
  color: rgb(170, 170, 170);
}

.panel {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: stretch;
  width: 90px;
}

.numbers button:last-child {
  width: 100%;
}

.operators {
  display: flex;
  flex-flow: column;
}

.operators button {
  color: white;
  background: #ff9539;
  border-left: none;
  border-bottom: 0;
}
